
*{
    padding: 0;
    margin: 0;
    font-family: "Lantinghei SC", "Microsoft Yahei", ו, Arial, Helvetica, sans-serif;
    outline: none;

}
.white-color{
    color: azure;
}

a{
    text-decoration: none;
}

.black-color{
    color: #303030;
}

.small-font{
    font-size: 0.8em;
}

.clearfix:after{
    display: block;
    content: "";
    height: 0;
    visibility: hidden;
    clear: both;
}
.clearfix{
    zoom: 1;
}