<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>首页</title>
    <link rel="stylesheet" href="../css/basic.css"/>
    <link rel="stylesheet" href="../css/home.css"/>
    <link rel="stylesheet" href="../css/icon.css"/>
</head>
<body>
    <div class="container">
        <div class="top-wrapper">
            <img src="../images/introduce.png">
            <div class="search-bar">
                <div class="title-wrapper white-color" style=" font-family:宋体">
                    法海寺数据库
                </div>
                <div class="search-wrapper">
                    <a href="#" class="login-wrapper white-color">
                        <span class="glyphicon glyphicon-search white-color"></span>
                    </a>
                    <input type="text" class="search-ipt"/>
                    <a href="#" class="login-wrapper white-color">
                        <span class="glyphicon glyphicon-user white-color" style="margin-left: 0.5em"></span><span style="margin-left: 0.3em">登陆</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="introduce-wrapper">
            <div class="img-wrapper">
                <img src="../images/introduce.png">
            </div>
            <div class="introduce-text-wrapper">
                <p class="introduce-text">
                    <p class="introduce-title small-font">法海寺历史沿革</p>
                    <p class="small-font">
                        法海寺 （ Dharma-samudra Vihāra）位于北京石景山区模式口翠微山南麓，始建于明朝正统四年1439（1440年），动用木匠、石匠、瓦匠、漆匠、画士等多人，历时近5年，至正统八年才建成。原寺庙规模宏大，明、清时多次重修。
                    </p >
                    <p class="small-font"> 法海寺占地面积20000平方米。寺内有大雄宝殿、伽兰祖师二堂、四天王殿、护法金刚殿、药师殿、选佛场、钟鼓楼、藏经楼、云堂等建筑。1988年公布为全国重点文物保护单位。</p>
                <p class="small-font"> 法海寺占地面积20000平方米。寺内有大雄宝殿、伽兰祖师二堂、四天王殿、护法金刚殿、药师殿、选佛场、钟鼓楼、藏经楼、云堂等建筑。1988年公布为全国重点文物保护单位。</p>
                </p>
            </div>
        </div>

        <div class="nav-container">
            <ul class="clearfix">
                <li>
                    <a href="#">
                        壁画
                    </a>
                </li>
                <li>
                    <a href="#">
                        石碑
                    </a>
                </li>
                <li>
                    <a href="#">
                       建筑
                    </a>
                </li>
                <li>
                    <a href="#">
                        器物
                    </a>
                </li>
                <li>
                    <a href="#">
                        古树
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>